<div id="studentClassTop">
  <div class="studentClassControlNav" id="{{ item.expId }}" style="display: block;">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-sub" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ item.expName }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-sub">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/file/download_course/{{ item.expId }}">
                下载课件</a>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#uploadClassFile_{{ item.expId }}">
              上传</a>
            </li>
            <li style="display:none;"><a href="#" data-toggle="modal" data-target="#newClassFile{{ item.expId }}">
              创建</a>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#compileClassFile_{{ item.expId }}">
              编译</a>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#seeCompile{{ item.expId }}">
              查看编译</a>
            </li>
            <li><a data-target="#startExp" onclick="startToExp('course', '{{ item.expId }}', 'startExpButton')"
                   href="#" data-toggle="modal">
              开始实验</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div>
      <div class="modal fade" id="uploadClassFile_{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="myUpLoadFile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myUpLoadFile">上传文件</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <input id="upClassFileDoc_{{ item.expId }}" type="file"  multiple="multiple" >
                <label for="upClassFileType_{{ item.expId }}">文件类型</label>
                <select id="upClassFileType_{{ item.expId }}">
                  <option value="src" selected="selected">源文件</option>
                  <option value="bit">bit文件</option>
                  <option value="report">课程报告</option>
                  <option value="other">其他文件</option>
                </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="uploadFile_id" value="{{i.id}}" class="btn btn-primary"
                      onclick="uploadClassFile('{{ item.expId }}',
                              'upClassFileDoc_{{ item.expId }}',
                              'upClassFileType_{{ item.expId }}',
                              'classFileList{{ item.expId }}')">
                上传
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newClassFile{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="newExpFileLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="newExpFileLabel">创建</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <input type="hidden" name="expType" value="class">
              <input type="hidden" name="expId" value="{{ item.expId }}">
              <label>创建文件（[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*）</label>
              <input type="text" class="form-control" id="newClassFileName{{ item.expId }}"
                     placeholder="new file" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="update_id" value="{{i.id}}" class="btn btn-primary"
                    onclick="createExpFile('{{ item.expId }}', 'class', 'classFileList{{ item.expId }}')">
                创建
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="compileClassFile_{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="myStartClassCompile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myStartClassCompile">编译</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <label>输入顶层模块的名称（注意不是顶层文件名，并区分大小写，无多余空格）</label>
              <input type="text" class="form-control" id="classTopModule_{{ item.expId }}"
                     placeholder="top module name" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
              <label id="other_file_name">编译bit文件名(不需要后缀.bit)，不可重复</label>
              <input type="text" class="form-control" id="other_file_name_{{ item.expId }}"
                     placeholder="bit name" required pattern="[a-zA-Z][a-zA-Z0-9]*">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="classCompileSubmit" class="btn btn-primary"
                      onclick="freeCompile('{{ item.expId }}',
                              'classTopModule_{{ item.expId }}',
                              'other_file_name_{{ item.expId }}',
                              'classFileList{{ item.expId }}')">
                编译
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="seeCompile{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="seeClassCompile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="seeClassCompile">查看编译状态</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <button class="btn btn-default"
                              onclick="getCompileStatus('{{ item.expId }}', 'compileStatus{{ item.expId }}')">
                          获取最新的编译状态</button>
              <table class="table">
                <thead class="thead-light">
                  <tr><th scope="col">文件名</th>
                    <th scope="col">提交时间</th>
                    <th scope="col">编译结束</th>
                    <th scope="col">最新状态</th></tr></thead>
                <tbody id="compileStatus{{ item.expId }}">
                 {# <tr class="testDatas"><td>a</td><td>b</td><td>c</td><td>d</td></tr> #}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="classFileGroup" style="display:block;" id="{{ item.expId }}">
      <h2>{{ item.expName }}</h2>
      <hr/>
      {% if not item.expCourseware is None %}
        <h3>课件</h3>
        {% for courseware in item.expCourseware %}
          <div class="input-group">
            <span id="lineInfo">{{ courseware.fileName }}</span>
          </div>
        {% endfor %}
        <hr/>
      {% endif %}

      <h3>源文件</h3>
      <div id="classFileList{{ item.expId }}">
        {% for file in item.fileList %}
            {% if file.fileType == "src" or file.fileType == "other" %}
          <div class="input-group" id="classFile_{{ file.fileId }}">
            {% if file.fileNameOther == "" %}
                <span id="lineInfo">{{ file.fileName }}</span>
            {% else %}
                <span id="lineInfo">{{ file.fileNameOther }}</span>
            {% endif %}
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <a href="#" data-toggle="modal" data-target="#editFile{{ file.fileId }}">
                编辑</a>
              </button>
              <button type="button" class="btn btn-default">
                <a href="/file/download_homework/{{ file.fileId }}">
                下载</a>
              </button>
              <button type="button" class="btn btn-default"
                      onclick="deleteClassFile('{{ item.expId }}', '{{ file.fileId }}',
                              'classFile_{{ file.fileId }}')">
                <a>删除</a>
              </button>
            </div>
              <div class="modal fade" id="editFile{{ file.fileId }}" tabindex="-1" role="dialog"
                   aria-labelledby="editFileLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="editFileLabel">编辑</h4>
                    </div>
                    <div class="modal-body">
                      {% csrf_token %}
                      <button class="btn btn-default"
                              onclick="getFileContent('{{ file.fileId }}', 'editFileTextarea{{ file.fileId }}')">
                          获取最新的文件内容</button>
                      <textarea id="editFileTextarea{{ file.fileId }}" style="resize:none; height: 500px; width: 100%;" placeholder="empty file"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="submit" name="edit_confirmed" class="btn btn-primary"
                            onclick="editFile('{{ file.fileId }}', 'editFileTextarea{{ file.fileId }}')">
                        修改
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
            {% endif %}
        {% endfor %}
      </div>

      <h3>编译文件</h3>
      <div id="classFileList{{ item.expId }}bit">
        {% for file in item.fileList %}
            {% if file.fileType == "bit" or file.fileType == "log" %}
          <div class="input-group" id="classFile_{{ file.fileName }}">
            {% if file.fileNameOther == "" %}
                <span id="lineInfo">{{ file.fileName }}</span>
            {% else %}
                <span id="lineInfo">{{ file.fileNameOther }}</span>
            {% endif %}
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <a href="/file/download_homework/{{ file.fileId }}">
                下载</a>
              </button>
              <button type="button" class="btn btn-default"
                      onclick="deleteClassFile('{{ item.expId }}', '{{ file.fileId }}',
                              'classFile_{{ file.fileName }}')">
                删除
              </button>
            </div>
          </div>
            {% endif %}
        {% endfor %}
      </div>

      <h3>课程报告</h3>
      <div id="classFileList{{ item.expId }}report">
        {% for file in item.fileList %}
            {% if file.fileType == "report" %}
          <div class="input-group" id="classFile_{{ file.fileName }}">
            {% if file.fileNameOther == "" %}
                <span id="lineInfo">{{ file.fileName }}</span>
            {% else %}
                <span id="lineInfo">{{ file.fileNameOther }}</span>
            {% endif %}
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <a href="/file/download_homework/{{ file.fileId }}">
                下载</a>
              </button>
              <button type="button" class="btn btn-default"
                      onclick="deleteClassFile('{{ item.expId }}', '{{ file.fileId }}',
                              'classFile_{{ file.fileName }}')">
                删除
              </button>
            </div>
          </div>
            {% endif %}
        {% endfor %}
      </div>

      <hr/>
    </div>
  </div>
</div>
