<div id="freeTop">
  <div class="freeControlNav" id="{{ item.expId }}" style="display: block">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-sub" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ item.expName }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-sub">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#uploadFreeFile_{{ item.expId }}">
              上传</a>
            </li>
            <li style="display:none;"><a href="#" data-toggle="modal" data-target="#newFreeFile{{ item.expId }}">
              创建</a>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#compileFreeFile_{{ item.expId }}">
              编译</a>
            </li>
            <li><a data-target="#startExp" onclick="startToExp('free', '{{ item.expId }}', 'startExpButton')"
                   href="#" data-toggle="modal">
              开始实验</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div>
      <div class="modal fade" id="uploadFreeFile_{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="myUpLoadFile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myUpLoadFile">上传文件</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <input id="upFreeFileDoc_{{ item.expId }}" type="file"  multiple="multiple" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="uploadFile_id" value="{{i.id}}" class="btn btn-primary"
                      onclick="uploadFreeFile('{{ item.expId }}',
                              'upFreeFileDoc_{{ item.expId }}',
                              'freeFileList{{ item.expId }}')">
                上传
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newFreeFile{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="newExpFileLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="newExpFileLabel">创建文件</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="expType" value="free">
              <input type="hidden" name="expId" value="{{ item.expId }}">
              <label>创建文件（[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*）</label>
              <input type="text" class="form-control" id="newFreeFileName{{ item.expId }}"
                     placeholder="new file" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="update_id" value="{{i.id}}" class="btn btn-primary"
                    onclick="createExpFile('{{ item.expId }}', 'free', 'freeFileList{{ item.expId }}')">
                创建
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="compileFreeFile_{{ item.expId }}" tabindex="-1" role="dialog"
           aria-labelledby="myStartFreeCompile" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myStartFreeCompile">编译</h4>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <label>输入顶层模块的名称（注意不是顶层文件名，并区分大小写，无多余空格）</label>
              <input type="text" class="form-control" id="freeTopModule_{{ item.expId }}"
                     placeholder="top module name" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" name="freeCompileSubmit" class="btn btn-primary"
                      onclick="freeCompile('{{ item.expId }}',
                              'freeTopModule_{{ item.expId }}',
                              'freeFileList{{ item.expId }}')">
                编译
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="freeContent">
    <div id="freeFiles">
      <div class="freeFileGroup" id="{{ item.expId }}" style="display: block">
        <h2>{{ item.expName }}</h2>
            <button type="button" class="btn btn-default"
                            onclick="deleteFreeExp('{{ item.expId }}')">
                      删除实验及文件
            </button>
        <hr/>

        <h3>源文件</h3>
        <div id="freeFileList{{ item.expId }}">
          {% for file in item.fileList %}
              {% if file.fileType == "src" %}
            <div class="input-group" id="freeFile_{{file.fileName}}">
              <span id="lineInfo">{{ file.fileName }}</span>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  <a href="/file/download_free_file/{{ file.fileId }}">
                  下载</a>
                </button>
                <button type="button" class="btn btn-default"
                        onclick="deleteFreeFile('{{ item.expId }}',
                                '{{ file.fileId }}', 'freeFile_{{file.fileName}}')">
                  删除
                </button>
              </div>
            </div>
              {% endif %}
          {% endfor %}
        </div>

        <h3>编译文件</h3>
        <div id="freeFileList2{{ item.expId }}">
          {% for file in item.fileList %}
              {% if file.fileType == "bit" or file.fileType == "log" %}
            <div class="input-group" id="freeFile_{{file.fileName}}">
              <span id="lineInfo">{{ file.fileName }}</span>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  <a href="/file/download_free_file/{{ file.fileId }}">
                  下载</a>
                </button>
                <button type="button" class="btn btn-default"
                        onclick="deleteFreeFile('{{ item.expId }}',
                                '{{ file.fileId }}', 'freeFile_{{file.fileName}}')">
                  删除
                </button>
              </div>
            </div>
              {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>