{% extends 'base.html' %} {% load static %}
{% block pageStyle %}
<link href="{% static "/css/home.css" %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% include 'topNav.html' with role=request.session.role %}
  <div>
    <div>
      <div>
        <div>
          <div class="introduceTitle">
            <h2>远程FPGA实验平台</h2>
          </div>
          <div class="introduceDescription">
            <p>远程FPGA实验平台使得任意地点任意时间都可以直接接触实际开发板，为硬件工程的开发和教学带来了极大的便利。</p>
          </div>
          <div>
            {% if request.session.is_login == True %}
              <div>
                欢迎您：{{ request.session.user_name }} {{ request.session.role }}
              </div>
            {% else %}
              <div>
                欢迎您，请先登录
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
