{% extends 'base.html' %} {% load static %}
{% block pageStyle %}
<link href="{% static 'css/studentHome.css' %}" rel='stylesheet' type='text/css' />
<script src="../../static/js/studentHome.js" type="text/javascript"></script>
  <script src="../../static/js/socket.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <section id="studentHome">
    <header>{% include 'topNav.html' %}</header>

    <nav id="studentSlide">
      <ul class="nav nav-pills nav-stacked">

{#！！！！自由实验索引必须是第一个！！！！#}
        <li role="presentation" onclick="show('{{ freeExperiment.id }}')">
          <a href="#">{{ freeExperiment.expType }}</a>
        </li>
        <ul class="fileList" id={{ freeExperiment.id }} style="display:none;">
          {% for item in freeExperiment.expItems %}
            <li role="presentation" onclick="showFile('{{ item.expId }}', 'free')">
              <a href="#">{{ item.expName }}</a>
            </li>
          {% endfor %}
            <li role="presentation" id="addFreeExpLi">
              <a href="#" data-toggle="modal" data-target="#addFreeExp">添加实验</a>
              <div class="modal fade" id="addFreeExp" aria-describedby="addFreeExpLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addFreeExpLabel">
                          上传文件
                        </h4>
                    </div>
                    <div class="modal-body">
                      <label>自由实验名称（非空，字母开头，后接字母数字）
                        <input type="text" class="form-control" id="newFreeExpName"
                               placeholder="new project" required pattern="[a-zA-Z][a-zA-Z0-9]*"/>
                      </label>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="submit" name="update_id" value="{{i.id}}" class="btn btn-primary"
                              onclick="createFreeExpProj()">
                        添加
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        </ul>

{#        课程实验索引#}
        {% for exp in classExperiment %}
          <li role="presentation" onclick="show('{{ exp.id }}')">
            <a href="#">{{ exp.expType }}</a>
          </li>
          <ul class="fileList" id={{ exp.id }} style="display:none;">
            {% for item in exp.expItems %}
              <li role="presentation" onclick="showFile('{{ item.expId }}', 'class')">
                <a href="#">{{ item.expName }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </nav>

    <div id="studentMiddle">
      {% for item in freeExperiment.expItems %}
        <div class="studentControlNavFree" id="{{ item.expId }}" style="display: none;">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-sub" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ item.expName }}</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-sub">

                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#uploadFreeFile{{ item.expId }}">
                      上传文件
                    </a>
                    <div class="modal fade" id="uploadFreeFile{{ item.expId }}" tabindex="-1" role="dialog"
                         aria-labelledby="myUpLoadFile" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myUpLoadFile">上传文件</h4>
                          </div>
                          <div class="modal-body">
                            <input id="upFreeFile{{ item.expId }}" type="file"  multiple="multiple" >
                            <input type="hidden" id="expId" value="upFile_Free_ExpId_{{ item.expId }}">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="submit" name="uploadFile_id" value="{{i.id}}" class="btn btn-primary"
                                    onclick="uploadFile('upFreeFile{{ item.expId }}', 'upFile_Free_ExpId_{{ item.expId }}', 'freeFileList{{ item.expId }}')">
                              上传
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#newFreeFile{{ item.expId }}">
                      创建文件
                    </a>
                    <div class="modal fade" id="newFreeFile{{ item.expId }}" tabindex="-1" role="dialog"
                         aria-labelledby="newExpFileLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="newExpFileLabel">创建文件</h4>
                          </div>
                          <div class="modal-body">
                            <input type="hidden" name="expType" value="free">
                            <input type="hidden" name="expId" value="{{ item.expId }}">
                            <label>创建文件（[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*）</label>
                            <input type="text" class="form-control" id="newFreeFileName{{ item.expId }}"
                                   placeholder="new file" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="submit" name="update_id" value="{{i.id}}" class="btn btn-primary"
                                  onclick="createExpFile('{{ item.expId }}', 'free', 'freeFileList{{ item.expId }}')">
                              创建
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">在线编译</a></li>
                </ul>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
        {% endfor %}
      {% for exp in classExperiment %}
        {% for item in exp.expItems %}
          <div class="studentControlNavClass" id="{{ item.expId }}" style="display: none;">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-sub" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">{{ item.expName }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-sub">

                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="downloadCourseware/123/{{ item.expId }}/">下载课件</a>
                    </li>
                    <li>
                      <a href="#" data-toggle="modal" data-target="#uploadClassFile{{ item.expId }}">
                        上传文件
                      </a>
                      <div class="modal fade" id="uploadClassFile{{ item.expId }}" tabindex="-1" role="dialog"
                         aria-labelledby="myUpLoadFile" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myUpLoadFile">上传文件</h4>
                            </div>
                            <div class="modal-body">
                              <input type="hidden" id="expId" value="upFile_Class_ExpId_{{ item.expId }}">
                              <input id="upClassFile{{ item.expId }}" type="file"  multiple="multiple" >
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                              </button>
                              <button type="submit" name="uploadFile_id" value="{{i.id}}" class="btn btn-primary"
                                      onclick="uploadFile('upClassFile{{ item.expId }}', 'upFile_Class_ExpId_{{ item.expId }}', 'classFileList{{ item.expId }}')">
                                上传
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <a href="#" data-toggle="modal" data-target="#newClassFile{{ item.expId }}">
                        创建文件
                      </a>
                      {% csrf_token %}
                      <div class="modal fade" id="newClassFile{{ item.expId }}" tabindex="-1" role="dialog"
                           aria-labelledby="newExpFileLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="newExpFileLabel">创建文件</h4>
                            </div>
                            <div class="modal-body">
                              <input type="hidden" name="expType" value="class">
                              <input type="hidden" name="expId" value="{{ item.expId }}">
                              <label>创建文件（[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*）</label>
                              <input type="text" class="form-control" id="newClassFileName{{ item.expId }}"
                                     placeholder="new file" required pattern="[a-zA-Z][a-zA-Z0-9]*.[a-zA-Z]*">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                              </button>
                              <button type="submit" name="update_id" value="{{i.id}}" class="btn btn-primary"
                                    onclick="createExpFile('{{ item.expId }}', 'class', 'classFileList{{ item.expId }}')">
                                创建
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li><a href="#">在线编译</a></li>
                  </ul>

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        {% endfor %}
      {% endfor %}

      <div id="studentContent">
        <div id="studentDefaultInfo">
          欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
          欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！欢迎光临！
        </div>

        <button onclick="testLJW()">连接</button>
        <button onclick="remote.sync()">sync</button>
        <button onclick="remote.acquire()">acquire</button>
        <button onclick="remote.release()">release</button>
        <button onclick="remote.openSwitch()">openSwitch</button>
        <button onclick="remote.closeSwitch()">closeSwitch</button>
        <button onclick="remote.pressButton()">pressButton</button>
        <button onclick="remote.releaseButton()">releaseButton</button>
        <button onclick="remote.sendPS2()">sendPS2</button>
        <button onclick="remote.fileUploaded()">fileUploaded</button>
        <button onclick="remote.program()">program</button>
        <button onclick="remote.changeDispmode()">changeDispmode</button>


        <div id="studentFiles">
          {% for item in freeExperiment.expItems %}
            <div class="freeFileGroup" style="display:none;" id="{{ item.expId }}">
              <h2>{{ item.expName }}</h2>
              <hr/>

              <h3>学生文件</h3>
              <div id="freeFileList{{ item.expId }}">
                {% for file in item.fileList %}
                  <div class="input-group" id="file{{file.fileName}}">
                    <span id="lineInfo">{{ file.fileName }}</span>
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              onclick="modifyFile('{{ item.expId }}', '{{ file.fileId }}', 'free')">修改</button>
                      <button type="button" class="btn btn-default"
                              onclick="deleteFile('{{ item.expId }}', '{{ file.fileId }}', 'free')">删除</button>
                    </div>
                  </div>
                {% endfor %}
              </div>

            </div>
            {% endfor %}
          {% for classExp in classExperiment %}
            {% for item in classExp.expItems %}
              <div class="classFileGroup" style="display:none;" id="{{ item.expId }}">
                <h2>{{ item.expName }}</h2>
                <hr/>
                {% if not item.expCourseware is None %}
                  <h3>课件</h3>
                  {% for courseware in item.expCourseware %}
                    <div class="input-group">
                      <span id="lineInfo">{{ courseware }}</span>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default">下载</button>
                      </div>
                    </div>
                  {% endfor %}
                  <hr/>
                {% endif %}

                <h3>学生文件</h3>
                <div id="classFileList{{ item.expId }}">
                  {% for file in item.fileList %}
                    <div class="input-group" id="file{{ file.fileName }}">
                      <span id="lineInfo">{{ file.fileName }}</span>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                onclick="modifyFile('{{ item.expId }}', '{{ file.fileId }}', 'class')">修改</button>
                        <button type="button" class="btn btn-default"
                                onclick="deleteFile('{{ item.expId }}', '{{ file.fileId }}', 'class')">删除</button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <hr/>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="studentRright">
      <button id="startExp" class="btn btn-default">
        开始实验
      </button>
      <p>
        你好
      </p>

    </div>

    <footer>暂时没有使用，底部版权同头部 position: fixed;z-index: 9;</footer>
  </section>
{% endblock %}

