{% load static %}
{% block pageStyle %}
<link href="{% static 'css/topNav.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

<nav id="topNav" class="navbar navbar-default">

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="topNavLogo">FPGA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-top">
      <ul class="nav navbar-nav">
        <li class="navItem"><a href="/home/introduce">首页</a></li>
        {% if request.session.role == "teacher" %}
          <li class="navItem"><a href="/home/course">课程</a></li>
          <li class="navItem"><a href="/home/experiment/">实验</a></li>
          <li class="navItem"><a href="/resource/">资源</a></li>
          <li class="navItem"><a href="http://47.96.95.218:30080/">测试</a></li>
        {% elif request.session.role == "student" %}
          <li class="navItem"><a href="/home/experiment/">实验</a></li>
          <li class="navItem"><a href="/resource/">资源</a></li>
          <li class="navItem"><a href="http://47.96.95.218:30080/">测试</a></li>
        {% elif request.session.role == "admin" %}
          <li class="navItem"><a href="/home/experiment/">实验</a></li>
          <li class="navItem"><a href="/home/course">课程</a></li>
          <li class="navItem"><a href="/resource/">资源</a></li>
          <li class="navItem"><a href="http://47.96.95.218:30080/">测试</a></li>
        {% else %}
        {% endif %}
        <li class="dropdown navItem">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            说明 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.session.is_login != True %}
          <li class="navItem"><a href="/login">登录</a></li>
          <li class="navItem"><a href="/login/register">注册</a></li>
        {% else %}
          <li class="navItem"><a href="/login/logout">登出</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{#<nav class="navbar navbar-default">#}
{#  <div class="container-fluid">#}
{#    <!-- Brand and toggle get grouped for better mobile display -->#}
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{#      <a class="navbar-brand" href="#">Brand</a>#}
{#        <img id="topNavLogo" src="{% static "images/exotic.png" %}" alt="...">#}
{##}
{#      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#      <ul class="nav navbar-nav">#}
{#        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="#">Link</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}
{##}
{#<nav class="navbar navbar-default">#}
{#  <div class="container-fluid">#}
{#    <!-- Brand and toggle get grouped for better mobile display -->#}
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{#      <a class="navbar-brand" href="#">Brand</a>#}
{#    </div>#}
{##}
{#    <!-- Collect the nav links, forms, and other content for toggling -->#}
{#    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#      <ul class="nav navbar-nav">#}
{#        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="#">Link</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">One more separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{#      <form class="navbar-form navbar-left">#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="Search">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">Submit</button>#}
{#      </form>#}
{#      <ul class="nav navbar-nav navbar-right">#}
{#        <li><a href="#">Link</a></li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="#">Action</a></li>#}
{#            <li><a href="#">Another action</a></li>#}
{#            <li><a href="#">Something else here</a></li>#}
{#            <li role="separator" class="divider"></li>#}
{#            <li><a href="#">Separated link</a></li>#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{#    </div><!-- /.navbar-collapse -->#}
{#  </div><!-- /.container-fluid -->#}
{#</nav>#}
{##}
{#<ul class="navbar navbar-default">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#    <img id="topNavLogo" src="{% static "images/exotic.png" %}" data-interval="3000" class="d-block w-100" alt="...">#}
{#       </div>#}
{#  <li role="presentation" class="active"><a href="#">Home</a></li>#}
{#  <li role="presentation"><a href="#">Profile</a></li>#}
{#  <li role="presentation"><a href="#">Messages</a></li>#}
{#  </div>#}
{#</ul>#}
